{% extends 'base.html' %}

{% block title %}
Invoice Display
{% endblock %}

{% block content %}
<div class="container invoice">
 <div class="invoice-header">
    <div class="row">
      <div class="col-xs-8">
        <h1>Invoice <small>With Credit</small></h1>
        <h4 class="text-muted">NO: 554775/R1 | Date: 01/01/2023</h4>
      </div>
      <div class="col-xs-4">
        <div class="media">
          <div class="media-left">
            <img class="media-object logo" src="https://dummyimage.com/70x70/000/fff&text=ACME" />
          </div>
          <ul class="media-body list-unstyled">
            <li><strong>Acme Corporation</strong></li>
            <li>Software Development</li>
            <li>Field 3, Moon</li>
            <li>info@acme.com</li>
          </ul>
        </div>
      </div>
    </div>
 </div>
 <div class="invoice-body">
    <!-- Include sections for Company Details, Customer Details, Services/Products, Payment Method -->
    <!-- Use Bootstrap classes for styling -->
 </div>
 <div class="invoice-footer">
    Thank you for choosing our services.
    <br/> We hope to see you again soon
    <br/>
    <strong>~ACME~</strong>
 </div>
</div>
{% endblock %}
