{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Subscribers
{% endblock %}

{% block content %}
<div class="container">
            <h1 class="my-3">Subscribers</h1>
            <a href="{% url 'add_subscriber' %}" class="btn btn-primary mb-3">Add Subscriber</a>
            {% if subscribers %}
                <div class="list-group">
                    {% for subscriber in subscribers %}
                        <a href="#" class="list-group-item list-group-item-action">
                            {{ subscriber.forename }} {{ subscriber.surname }} ({{ subscriber.imsi }})
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    No subscribers found.
                </div>
            {% endif %}
        </div>

{% endblock %}
