{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-3">Welcome to Matsecom Subscriber Management System</h1>
    <div class="text-center btn-group">
      <a href="/subscribers" class="btn btn-primary mx-2 my-1">Subscribers</a>
      <a href="{% url 'session_list' %}" class="btn btn-primary mx-2 my-1">Sessions</a>
      <a href="/invoice" class="btn btn-primary mx-2 my-1">Create Invoice</a>
    </div>
  </div>
{% endblock %}
